@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?36158982');
  src: url('../fonts/fontello.eot?36158982#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?36158982') format('woff2'),
       url('../fonts/fontello.woff?36158982') format('woff'),
       url('../fonts/fontello.ttf?36158982') format('truetype'),
       url('../fonts/fontello.svg?36158982#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'mullerregular';
    src: url('../fonts/muller-regular-webfont.eot');
    src: url('../fonts/muller-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/muller-regular-webfont.woff2') format('woff2'),
         url('../fonts/muller-regular-webfont.woff') format('woff'),
         url('../fonts/muller-regular-webfont.ttf') format('truetype'),
         url('../fonts/muller-regular-webfont.svg#../fonts/muller_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'mullerbold';
    src: url('../fonts/muller-bold-webfont.eot');
    src: url('../fonts/muller-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/muller-bold-webfont.woff2') format('woff2'),
         url('../fonts/muller-bold-webfont.woff') format('woff'),
         url('../fonts/muller-bold-webfont.ttf') format('truetype'),
         url('../fonts/muller-bold-webfont.svg#../fonts/mullerbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'mullerlight';
    src: url('../fonts/muller-light-webfont.eot');
    src: url('../fonts/muller-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/muller-light-webfont.woff2') format('woff2'),
         url('../fonts/muller-light-webfont.woff') format('woff'),
         url('../fonts/muller-light-webfont.ttf') format('truetype'),
         url('../fonts/muller-light-webfont.svg#../fonts/mullerlight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'mullermedium';
    src: url('../fonts/muller-medium-webfont.eot');
    src: url('../fonts/muller-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/muller-medium-webfont.woff2') format('woff2'),
         url('../fonts/muller-medium-webfont.woff') format('woff'),
         url('../fonts/muller-medium-webfont.ttf') format('truetype'),
         url('../fonts/muller-medium-webfont.svg#../fonts/mullermedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
//
//sass/
////
//– base/
//   |– _forms.scss        # Forms rules
//   |– _typography.scss   # Typography rules
//   |– _buttons.scss      # Buttons
//   |– _forms.scss        # Forms
//   …                     # Etc.
//
//– modules/
//   |– _carousel.scss     # Carousel
//   |– _cover.scss        # Cover
//   |– _dropdown.scss     # Dropdown
//   …                     # Etc.
//
//– partials/
//   |– _navigation.scss   # Navigation
//   |– _grid.scss         # Grid system
//   |– _header.scss       # Header
//   |– _footer.scss       # Footer
//   |– _sidebar.scss      # Sidebar
//   …                     # Etc.
//
//– pages/
//   |– _home.scss         # Home specific styles
//   |– _contact.scss      # Contact specific styles
//   …                     # Etc.
//
//– themes/
//   |– _theme.scss        # Default theme
//   |– _admin.scss        # Admin theme
//   …                     # Etc.
//
//– helpers/
//   |– _variables.scss    # Sass Variables
//   |– _functions.scss    # Sass Functions
//   |– _mixins.scss       # Sass Mixins
//   |– _placeholders.scss # Sass Placeholders
//
//– vendors/
//   |– _reset.scss         # Reset
//   |– _debug.scss         # Debug mode
//   …                      # Etc.
//
//– main.scss              # Main Sass file
//


//*
// Which objects and abstractions would you like to use?
//base
$use-btn-color:                true!default;
$use-btn-size:                 false!default;
$use-btn-group:                false!default;
$use-input-group:              false!default;
$use-table:                    false!default;
$use-color-table:              false!default;
$use-column-table:             false!default;
$use-color-text:               true!default;

//modules
$use-accordion:                false!default;
$use-breadcrumb:               true!default;
$use-pagination:               false!default;
$use-pager:                    false!default;
$use-space:                    false!default;
$use-split:                    false!default;
$use-rules:                    false!default;
$use-this-or-this:             false!default;
$use-media:                    false!default;
// grids
$use-adaptive:                 true!default;
$use-flexbox:                  true!default;
$use-bem:                      false!default;
// plugins
$use-animations:               false!default;
$debug-mode:                   false!default;



// Color scheme
@import "themes/_scheme-default";

// Mixins
@import "helpers/*.scss";

// Plugins
@import "vendors/*.scss";

// Base
@import "base/*.scss";

// Modules
@import "modules/*.scss";

// Partials
@import "partials/*.scss";

// Pages
@import "pages/*.scss";
