.is-row.stretch__xs.services__item.services__item--b.animated(data-animation="slideInUp", data-animation-delay="300")
  .is-col.is-col__xl-1.is-col__xs-12
  .is-col.is-col__xl-5-5.is-col__md-6.is-col__xs-12
    .sub-title.text--warning о подходе
    h4.text--warning space management
    p.text--default Эффективность Space Management достигается вовлечением в проект команды специалистов, каждый из которых ответственен за отдельный этап, начиная с первого дня реализации проекта.
    b Основные преимущества Space Management:
    ul
      li Сокращение и соблюдение сроков реализацией проекта
      li Экономия бюджета на реализацию проекта
      li Ответственность за сроки и качество реализации проекта берет на себя компания Pro Expert     
    .margtop50
      a.btn.btn--default(href='#') подробнее       
  .is-col.is-col__xl-0-5.is-col__xs-12
  .is-col.is-col__xl-5.is-col__md-6.is-col__xs-12
    .relative
      .services-anim.services-anim--2(data-bottom-top="transform:translate3d(0px, 50px, 0px)", data-top-bottom="transform:translate3d(0px, -80px, 0px)")
        img(src='images/services-anim-2.png', alt='')
      img(src='images/services/services-6.jpg', alt='')
