.decoration.decoration-body.decoration-l
.decoration.decoration-body.decoration-lc
.decoration.decoration-body.decoration-c
.decoration.decoration-body.decoration-rc
.decoration.decoration-body.decoration-r
