nav.nav
    if adaptive == true
        button.main-nav__toggle.main-nav__toggle--closed.main-nav__toggle--js
            span.icon-bar &nbsp;
            span.icon-bar &nbsp;
            span.icon-bar &nbsp;
            span.icon-bar &nbsp;
        .main-nav__collapse
            .main-nav__close.close--js.visible__sm.visible__xs
              i.is-icons.is-icons--close
            +menu(navigation)
            .main-nav__phone.visible__sm.visible__xs
              a.text--warning(href='tel:+78124486874') +7 (812) 448-68-74
    else
        +menu(navigation)
