//
// Base -> Scaffolding
// --------------------------------------------------

//
// Make all elements box-sizing
//
* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

//
// Delete focus border
//
a:active, a:focus {outline: none;}
input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
button:active, button:focus {outline: none;}
:focus {outline:none;}
button::-moz-focus-inner {border: 0;}

//
// Clearfix
//
.clearfix {
  @include clearfix();
}

//
// HTML
//
html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.page-index {
  height: auto !important;
}

//
// Basic typography styles
//
body {
  background-color: $base-background;
  color: $base-color;
  font-weight: $base-font-weight;
  font-size: $base-font-size * 0.88;
  font-family: $base-font-family;
  line-height: $base-line-height;
  @media screen and (min-width: $screen-xl-desktop) {
    font-size: $base-font-size;
  }
}


.stretch__self {
  align-self: stretch;
}

//
// Link
//
a {
  color: $link-color;
  // @include transition;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    // color: $link-hover-color;
    text-decoration: underline;
  }
}
.relative {
  position: relative;
}
.margbot20 {
  margin-bottom: 20px;
}
.margbot30 {
  margin-bottom: 30px;
}
.margbot40 {
  margin-bottom: 40px;
}
.margbot70 {
  margin-bottom: 70px;
}
.margtop50 {
  margin-top: 50px;
}
//
// Images
//
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.img--right{
  float:right;
  margin-bottom:  $line-height-computed;
  margin-left: $line-height-computed;
}
.img--left{
  float:left;
  margin-right: $line-height-computed;
  margin-bottom: $line-height-computed;
}
.img--center{
  display:block;
  margin-right:auto;
  margin-bottom: $line-height-computed;
  margin-left:auto;
}



//
// Display none
//
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0,0,0,0);
  overflow: hidden;
}
