//
// Base -> Buttons
// --------------------------------------------------

.btn {
  display: inline-block;
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  height: 44px;
  text-decoration: none;
  background-image: none;
  border: 2px solid transparent;
  font-family: $base-font-family-serif;
  @include button-size(12px, 15px, 9px, 1.8, $btn-border-radius-base);

  text-transform: uppercase;
  position: relative;

  @media screen and (min-width: $screen-tablet) {
    height: 60px;
    @include button-size(20px, 30px, $font-size-tiny, 1.8, $btn-border-radius-base);
  }

  &--high {
    height: 60px;
    line-height: 40px;
    @media screen and (min-width: $screen-tablet) {
      height: 150px;
      line-height: 120px;
    }
  }

  &:hover,
  &:focus,
  &.focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &--full {
    display: block;
    width: 100%;
    & + & {
      margin-top: 5px;
    }
  }
  &--ico {
    padding: 10px 15px;
    @media screen and (min-width: $screen-tablet) {
      padding: 16px 30px;
    }
    span, img {
      vertical-align: middle;
    }
    span + img {
      margin-left: 30px;
    }
  }

  &--default {
    @include button-variant-trw($btn-default-color, $btn-default-bg, $btn-default-border);
    padding-left: 30px;
    @media screen and (min-width: $screen-tablet) {
      padding-left: 60px;
    }
    &:before {
      content: '';
      width: 40px;
      height: 1px;
      background-color: $black;
      position: absolute;
      top: 0;bottom: 0;
      margin: auto;
      left: -20px;
       direction: rtl; 
      @include transition();
      @media screen and (min-width: $screen-tablet) {
        width: 70px;
        left: -35px;
      }
    }
    &:hover {
      &:before {
        width: 50px;
      }
    }
  }


  // Color buttons
  @if $use-btn-color == true {
    // &--primary {
    //   @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
    // }
    // &--success {
    //   @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
    // }
    &--info {
      @include button-variant-trw($btn-default-color, $btn-default-bg, $btn-default-border);
      padding-left: 50px;
      padding-right: 50px;
    }
    &--warning {
      @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
    }
    // &--danger {
    //   @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
    // }
    &--outlined {
      @include button-variant-tr($btn-outlined-color, $btn-outlined-bg, $btn-outlined-border);
      padding-left: 30px;
      @media screen and (min-width: $screen-tablet) {
        padding-left: 60px;
      }
      &:before {
        content: '';
        width: 40px;
        height: 1px;
        background-color: $white-lighten;
        position: absolute;
        top: 0;bottom: 0;
        margin: auto;
        left: -20px;
        @include transition();
        @media screen and (min-width: $screen-tablet) {
          width: 70px;
          left: -35px;
        }
      }
      &:hover {
        &:before {
          width: 50px;
        }
      }
    }
  }

  // Button Sizes
  @if $use-btn-size == true {
    &__lg {
      @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-btn, $btn-border-radius-large);
      height: 55px;
    }
    &__sm {
      @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-btn, $btn-border-radius-small);
      height: 40px;
    }
    &__xs {
      @include button-size($padding-tiny-vertical, $padding-tiny-horizontal, $font-size-tiny, $line-height-btn, $btn-border-radius-small);
      height: 35px;
    }
  }

  &--round {
    @include border-radius(50px);
  }

  // Button group
  @if $use-btn-group == true {
    &-group {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      > .btn {
        position: relative;
        float: left;
        &:first-child {
          margin-left: 0;
          &:not(:last-child) {
            @include border-right-radius(0);
          }
        }
        &:last-child:not(:first-child) {
          @include border-left-radius(0);
        }
        &:not(:first-child):not(:last-child) {
          border-radius: 0;
        }
        + .btn {
          margin-left: -1px;
        }
      }

      &--justified {
        display: table;
        width: 100%;
        table-layout: fixed;
        border-collapse: separate;
        > .btn {
          float: none;
          display: table-cell;
          width: 1%;
        }
      }
    }
  }
}
