//
// Base -> Typography
// --------------------------------------------------


// Headings
h1, h2, h3, h4, h5, h6, .alpha, .beta, .gamma, .delta, .epsilon, .zeta {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;

  text-transform: uppercase;

  small {
    font-weight: normal;
    line-height: 1;
  }
}

h1,
h2,
h3 {
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed-half;

  small {
    font-size: 65%;
  }
}
h4,
h5,
h6 {
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed-half;

  small {
    font-size: 75%;
  }
}

h1, .alpha   {
  font-size: $font-size-h1 * 0.38;
  @media screen and (min-width: $screen-tablet) {
    font-size: $font-size-h1 * 0.75;
  }
  @media screen and (min-width: $screen-xl-desktop) {
    font-size: $font-size-h1;
  }
}
h2, .beta    {
  font-size: $font-size-h2 * 0.45;
  letter-spacing: 2px;
  @media screen and (min-width: $screen-tablet) {
    font-size: $font-size-h2 * 0.75;
  }
  @media screen and (min-width: $screen-xl-desktop) {
    font-size: $font-size-h2;
  }
}
h3, .gamma   {
  font-size: $font-size-h3 * 0.8;
  @media screen and (min-width: $screen-xl-desktop) {
    font-size: $font-size-h3;
  }
}
h4, .delta   {
  font-size: $font-size-h4 * 0.6;
  @media screen and (min-width: $screen-tablet) {
    font-size: $font-size-h4 * 0.8;
  }
  @media screen and (min-width: $screen-xl-desktop) {
    font-size: $font-size-h4;
  }
 }
h5, .epsilon { font-size: $font-size-h5; }
h6, .zeta    {
  font-size: $font-size-h6 * 0.72;
  @media screen and (min-width: $screen-xl-desktop) {
    font-size: $font-size-h6;
  }
}


// Body text
p { margin: 0 0 $line-height-computed-half; }

b { font-weight: 400; }

// Alignment
.text--left           { text-align: left; }
.text--right          { text-align: right; }
.text--center         { text-align: center; }
.text--justify        { text-align: justify; }
.text--nowrap         { white-space: nowrap; }


// Responsive alignment
@if $use-adaptive == true {
  @media screen and (min-width: $screen-sm-min) {
    .text__sm--left   { text-align: left; }
    .text__sm--right  { text-align: right; }
    .text__sm--center { text-align: center; }
  }
  @media screen and (min-width: $screen-md-min) {
    .text__md--left { text-align: left;}
    .text__md--right {text-align: right;}
    .text__md--center {text-align: center;}
  }

  @media screen and (min-width: $screen-lg-min) {
    .text__lg--left { text-align: left;}
    .text__lg--right { text-align: right;}
    .text__lg--center { text-align: center;}
  }

  @media screen and (min-width: $screen-xl-min) {
    .text__xl--left { text-align: left;}
    .text__xl--right { text-align: right;}
    .text__xl--center { text-align: center;}
  }
}


// Transformation
.text--lowercase      { text-transform: lowercase; }
.text--uppercase      { text-transform: uppercase; }
.text--capitalize     { text-transform: capitalize; }


// Text size
.text__base {
  font-size: $base-font-size * 0.65;
  @media screen and (min-width: $screen-tablet) {
    font-size: $base-font-size;
  }
}
.text__xs {
  font-size: $font-size-tiny;
}
.text__sm {
  font-size: 11px;
  @media screen and (min-width: $screen-xl-desktop) {
    font-size: $font-size-small;
  }
}
.text__md {
  font-size: $font-size-medium * 0.86;
  @media screen and (min-width: $screen-xl-desktop) {
    font-size: $font-size-medium;
  }
}
.text__lg {
  font-size: $font-size-large * 0.86;
  @media screen and (min-width: $screen-xl-desktop) {
    font-size: $font-size-large;
  }
}


@if $use-color-text == true {
  // Color text
  // @include text-emphasis-variant('.text--primary', $base-color-main);
  // @include text-emphasis-variant('.text--success', $color-type-4a);
  // @include text-emphasis-variant('.text--info', $color-type-1a);
  @include text-emphasis-variant('.text--warning', $color-type-3a);
  // @include text-emphasis-variant('.text--danger', $color-type-2a);
  @include text-emphasis-variant('.text--default', #717070);
}


// Lists
ul,
ol {
  margin-top: 0;
  margin-bottom: $line-height-computed-half;
  ul,
  ol {
    margin-bottom: 0;
  }
}

.list {
  &--unstyled {
    @include list--unstyled;
  }

  &--inline {
    @include list--unstyled;
    margin-left: -5px;
    > li {
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  &--counter {
    //max-width: 610px;
    @include list--unstyled;
    li {
      display: block;
      position: relative;
      overflow: hidden;
      &:after {
        content:'';
        display: block;
        position: absolute;
        bottom: 4px;
        left: 0;
        width: 100%;
        height: 2px;
        border-top: 1px dotted #666;
      }
      .key {
        display: inline-block;
        position: relative;
        z-index: 2;
        background: #fff;
        padding-right: 5px;
      }
      .value {
        display: block;
        float: right;
        bottom: 0;
        right: 0;
        z-index: 2;
        background: #fff;
        padding-left: 5px;
      }
    }
  }

  &--bullet {
    @include list--unstyled;
    > li {
      margin-bottom: $line-height-computed / 2.6;
      &:last-child {
        margin-bottom: 0;
      }
      &::before {
        content: '';
        background: url('../images/bullet.png') no-repeat center left;
        color: $color-type-3a;
        width: 9px;
        height: 9px;
        display: inline-block;
        margin-right: 15px;
      }
    }
  }

  &--number {
    counter-reset: items;
    padding-left: 0;
    > li {
      margin-bottom: $line-height-computed / 2.6;
      &::before {
        font-family: $base-font-family-serif;
        counter-increment: items 1;
        content: counter(items, decimal) ".";
        margin-right: 5px;
        color: $color-type-3a;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}



// Blockquotes
blockquote {
  margin: $line-height-computed * 3 0;
  font-size: 16px;
  position: relative;
  font-family: 'mullerregular';
  font-style: italic;
  padding: 0 0 0 40px;
  @media screen and (min-width: $screen-tablet) {
    padding: $line-height-computed 0;
  }
  @media screen and (min-width: $screen-xl-desktop) {
    font-size: 18px;
  }

  &:before {
    content: '';
    width: 29px;
    height: 21px;
    background: url('../images/blockquote.svg') no-repeat center;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    @media screen and (min-width: $screen-tablet) {
      top: -20px;
      left: -29px;
    }
  }
  .sign {
    font-family: 'mullerlight';
    font-style: normal;
    b {
      font-family: 'mullermedium';
    }
  }
  p,
  ul,

  ol {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
