//
// Partials -> Footer
// ------------------------------------


//
// Footer
//
.page-footer {
  border-top: 3px solid $black;
  &__top {
    font-family: 'mullermedium';
    padding: 50px 0 10px;
    text-transform: uppercase;
    @extend .text__xs;
    @media screen and (min-width: $screen-tablet) {
      .is-row {
        flex-wrap: nowrap;
      }
    }
  }
  &__menu {
    max-width: 200px;
    a {
      display: inline-block;
      margin-bottom: 13px;
    }
    ul ul {
      text-transform: none;
      @extend .text__sm;
      a {
        margin-bottom: 0;
        font-family: 'mullerregular';
        color: #9c9c9c;
      }
    }
  }
  &__social {
    li {text-align: center;}
    a {
      font-size: 18px;
      width: 43px;
      height: 43px;
      display: block;
      line-height: 42px;
      color: $color-type-3a;
      border: 1px solid $color-type-3a;
      &:hover {
        color: $white-lighten;
        background-color: $color-type-3a
      }
    }
  }
  &__bottom {
    padding: 25px 0 5px;
    color: #9e9e9e;
    border-top: 1px solid #ececec;
    span, a, img {
      vertical-align: middle;
      display: block;
    }
  }
}
