//
// Partials -> Header
// ------------------------------------


//
// Header
//
.page-header {
  position: absolute;
  top: 0;left: 0;right: 0;
  z-index: 11;
  color: $white-lighten;
  border-bottom: 1px solid rgba(#fff, 0.18);
  font-family: 'mullermedium';
  height: 51px;
  @include transition();
  @media screen and (min-width: $screen-tablet) {
    height: auto;
  }
  &__logo {margin-left: 1px;
    a {text-decoration: none;}
    img {
      vertical-align: middle;
      height: 37px;
      @media screen and (min-width: $screen-xl-desktop) {
        height: auto;
      }
    }
    .fix {display: none;}
    .fixed & .nofix {display: none;}
    .fixed & .fix {display: block;}
  }
  &__phone {
    height: 100%;
    @extend .text__sm;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    justify-content: center;
    padding: 29px 0;
    background-color: rgba($white-lighten, 0.1);
    @media screen and (min-width: $screen-xl-desktop) {
      padding: 28px 0;
    }
    .fixed & {
      background-color: #f3f3f3;
    }
    a {
      color: $white-lighten;
      display: block;
    }
    // &::after,
    // &::before {
    //   content: '';
    //   width: 1px;
    //   height: 10000%;
    //   background-color: #ececec;
    //   position: absolute;
    //   top: 0;
    //   right: 24%;
    // }
    // &::after {
    //   right: 10px;
    // }
  }
  @media screen and (min-width: $screen-tablet) {
    &.fixed {
      position: fixed;
      top: 0;
      color: $black;
      background-color: $white-lighten;
      border-bottom: 1px solid #e8e8e8;
      a {
        color: $black;
      }
    }
  }
}

.ended-block {
  margin-left: auto;
}
.started-block {
  margin-right: auto;
}

//
// old-browser
//
.browsehappy {
  @extend .container;
}
.lt-ie8 { }
