//
// Partials -> Main
// ------------------------------------

@if $use-adaptive == false {
  header, main, footer {
    min-width: $container-xl;
  }
}

// TODO
// animation

.backgrounds {
  position: absolute;
  top: 0;left: 0;right: 0;bottom: 0;
  height: 100%;
  width: 100%;
  &__item {
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    @include transition(1.5s all);
    &.active {
      opacity: 1;
    }
  }
}

.decoration {
  position: absolute;
  &-header {
    width: 1px;
    height: 180%;
    top: -75px;
    bottom: 30%;
    // background-color: rgba($black, 0.8);
    background-color: rgba($white-lighten, 0.18);
  }
  &-body {
    top: -150px;
    bottom: 30%;
    width: 1px;
    height: 1000%;
    background-color: #ececec;
    // background-color: rgba($black, 0.8);
  }
  &-l {
    left: 2.1%;
  }
  &-lc {
    display: none;
  }
  &-c {
    right: 50%;
  }
  &-rc {
    display: none;
  }
  &-r {
    right: 2.1%;
  }
  @media screen and (min-width: $screen-tablet) {
    &-l {
      left: 2.8%;
    }
    &-lc {
      left: 51%;
      display: block;
    }
    &-c {
      // right: 40.8%;
      display: none;
    }
    &-rc {
      right: 24.1%;
      display: block;
    }
    &-r {
      right: 2.7%;
    }
  }
  @media screen and (min-width: $screen-desktop) {
    &-l {
      left: 2.1%;
    }
    &-lc {
      left: 52.2%;
    }
    &-c {
      // right: 40.8%;
    }
    &-rc {
      right: 22.7%;
    }
    &-r {
      right: 2%;
    }
  }
  @media screen and (min-width: $screen-xl-desktop) {
    &-l {
      left: 9.1%;
    }
    &-lc {
      left: 51.6%;
    }
    &-c {
      right: 40.8%;
      display: block;
      .page-catalog & {
        right: 41%;
      }
    }
    &-rc {
      right: 20.8%;
    }
    &-r {
      right: 0.8%;
    }
  }
}

.is-col__xl-0-5 {
  display: none;
}

@media screen and (min-width: $screen-tablet) {
  .is-col__md-7-5 {
    width: 52.4%;
  }
}

@media screen and (min-width: $screen-desktop) {
  .is-col__md-7-5 {
    width: 54.4%;
  }
}
@media screen and (min-width: $screen-xl-desktop) {
  .is-col__lg-1-5 {
      width: 11.7%;
  }
  .is-col__lg-2-5 {
      width: 21.6%;
  }
  .is-col__xl-6-1 {
    width: 50.7%;
  }
  .is-col__xl-6-2 {
    width: 51.7%;
  }
  .is-col__xl-6-3 {
    width: 52.7%;
  }
  .is-col__xl-6-5 {
    width: 55.7%;
  }
  .is-col__xl-5-4 {
    width: 40.667%;
  }
  .is-col__xl-5-5 {
    width: 44.2%;
  }
  .is-col__xl-5-6 {
    width: 46.5%;
  }
  .is-col__xl-5-7 {
    width: 47.3%;
  }
  .is-col__xl-2-5 {
    width: 20.833335%;
  }
  .is-col__xl-0-55,
  .is-col__xl-0-5 {
    width: 5.7%;
    display: block;
  }
}


.is-col__xs-6-5 {
  width: 55.8%;
}
.is-col__xs-5-5 {
  width: 44.3%;
}

//
// Main container
//
.page-main {
  overflow: hidden;
}

.text-template {
  h3 {
    font-size: 16px;
    margin: 40px 0;
    @media screen and (min-width: $screen-tablet) {
      font-size: 22px;
    }
    @media screen and (min-width: $screen-xl-desktop) {
      font-size: 28px;
      margin: 50px 0;
    }
  }
  b {
    font-family: $base-font-family-serif;
  }
  ul {
    @extend .list--bullet;
  }
  ol {
    @extend .list--number;
  }
  p {
    margin-bottom: 10px;
    @media screen and (min-width: $screen-xl-desktop) {
      margin-bottom: 20px;
    }
  }
  .text__lg {
    font-size: 16px;
    font-family: 'mullerregular';
    @media screen and (min-width: $screen-xl-desktop) {
      font-size: 18px;
    }
  }
}
.animation,
[class*='-anim'] {
  position: absolute;
  display: none;
  @media screen and (min-width: $screen-tablet) {
    display: block;
  }
}

.main-title {
  font-size: 20px;
  margin-top: 70px;
  letter-spacing: 7px;
  line-height: 1;
  color: $black;
  padding: 17px 20px;
  background-color: $white-lighten;
  @media screen and (min-width: $screen-tablet) {
    font-size: 28px;
    padding: 30px 20px;
  }
  @media screen and (min-width: $screen-xl-desktop) {
    padding: 30px 40px;
    margin-top: 100px;
    font-size: 38px;
  }
}

.mainp-title {
  line-height: 1;
  font-size: 20px;
  margin-top: 100px;
  margin-bottom: 80px !important;
  @media screen and (min-width: $screen-tablet) {
    font-size: 60px;
    margin-top: 150px;
    margin-bottom: 120px !important;
  }
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
  @media screen and (min-width: $screen-tablet) {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

.section-x2 {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: $screen-tablet) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  @media screen and (min-width: $screen-xl-desktop) {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

.section-x15 {
  padding-top: 50px;
  padding-bottom: 50px;
  @media screen and (min-width: $screen-tablet) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @media screen and (min-width: $screen-xl-desktop) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.title-section {
  h2 {
    margin-bottom: 30px;
    @media screen and (min-width: $screen-tablet) {
      margin-bottom: 50px;
    }
  }
}

.par-section {
  p {
    margin-bottom: 30px;
    @media screen and (min-width: $screen-tablet) {
      margin-bottom: 50px;
    }
  }
}

.sub-title {
  font-family: 'mullermedium';
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  line-height: 1;
  margin-top: -1px;
  @extend .text__base;
  margin-bottom: 30px;
  @media screen and (min-width: $screen-tablet) {
    margin-bottom: 50px;
  }
  &::before {
    content: '';
    height: 1px;
    width: 25px;
    display: inline-block;
    background-color: $black;
    position: absolute;
    left: -50px;
    top: 1px;
  }
}

.scroll-txt {
  display: none;
  @media screen and (min-width: $screen-xl-desktop) {
    position: absolute;
    display: block;
    letter-spacing: 2px;
    left: -100px;bottom: 80px;
    transform: rotate(-90deg);
    &:before {
      content: '';
      width: 70px;
      height: 1px;
      margin-right: 30px;
      background-color: $white-lighten;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.page404 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 70px 0;
  font-family: $base-font-family-serif;
  @media screen and (min-width: $screen-tablet) {
    padding: 90px 0;
  }
  @media screen and (min-width: $screen-xl-desktop) {
    min-height: calc(100vh - 306px);
  }
  &-title {
    font-size: 82px;
    line-height: 1;
    padding: 15px 30px;
    display: inline-block;
    background-color: $white-lighten;
    @media screen and (min-width: $screen-tablet) {
      font-size: 164px;
      padding: 15px 60px;
    }
  }
  &-desc {
    font-size: 15px;
    margin: 20px 0;
    @media screen and (min-width: $screen-tablet) {
      font-size: 25px;
      margin: 40px 0;
    }
  }
}
