//
// Modules -> Breadcrumbs
// --------------------------------------------------

@if $use-breadcrumb == true {
  .breadcrumbs {
    padding: 18px $breadcrumb-padding-horizontal;
    margin-bottom: 0;
    font-size: 8px;
    list-style: none;
    background-color: $breadcrumb-bg;
    position: relative;

    &::after{
      content: '';
      background-color: rgba($white-lighten, 0.18);
      position: absolute;
      height: 1px;
      width: 400%;
      right: -100%;
      left: -100%;
    }
    &::after {
      bottom: 0;
    }
    @media screen and (min-width: $screen-tablet) {
      font-size: 16px;
      padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
    }

    &__item {
      display: inline-block;
      margin: 0 10px;
      font-size: 10px;
      font-family: $base-font-family-serif;
      text-transform: uppercase;
      & + & {
        &:before {
          content: "";
          width: 20px;
          height: 1px;
          display: inline-block;
          margin: 3px 20px 3px 0;
          background-color: $white-lighten;
        }
      }

      &.active {
        color: $breadcrumb-active-color;
      }
    }
    &__link {
      color: $breadcrumb-color;
    }
  }
}
