//
// Modules -> Navs
// --------------------------------------------------

// .nav {
//   margin-right: -10px;
//   @media screen and (min-width: $screen-adaptive-nav) {
//     margin-right: 0;
//   }
// }
.sub-nav {
  display: none;
  &.active {
    display: block;
  }
  li {
    display: block;
    a {
      color: $black;
      padding: 10px;
    }
    a:hover {
      // text-decoration: none;
      // background: $subnav-link-hover-bg;
    }
  }

  @if $use-adaptive == true {
    @media screen and (min-width: $screen-adaptive-nav) {
      border: 1px solid #e8e8e8;
      text-align: center;
      position: absolute;
      background: $white-lighten;
      top: 100%;
      left: 0;
      min-width: 200px;
      li:hover & {
        display: block !important;
      }
    }
  } @else {
    display: none;
    position: absolute;
    background: $gray-darken;
    top: 100%;
    right: 0;
    min-width: 200px;
    li:hover & {
      display: block !important;
    }
  }
}

.main-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;

  text-transform: uppercase;
  font-size: 14px;
  font-family: 'mullermedium';
  @media screen and (min-width: $screen-adaptive-nav) {
    font-size: $font-size-tiny;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    position: relative;

    @if $use-adaptive == true {
      display: block;
      @media screen and (min-width: $screen-adaptive-nav) {
        display: inline-block;
      }
    } @else {
      display: inline-block;
    }
  }
  &__link {
    position: relative;
    padding: $nav-link-padding;
    text-decoration: none;
    display: block;
    color: $black;
    @media screen and (min-width: $screen-adaptive-nav) {
      color: $white-lighten;
      padding: 0;
    }
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
  img {
    max-width: none;
  }
  &__close {
    position: absolute;
    top: 0;right: 0;
    cursor: pointer;
  }
  &__phone {
    margin-top: 50px;
  }

  @if $use-adaptive == true {
    &__toggle {
      position: relative;
      padding: 11px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      border: 1px solid rgba($white-lighten, 0.17);

      &:focus {
        outline: 0;
      }
      .icon-bar {
        display: block;
        width: 27px;
        height: 3px;
        background: $white-lighten;
      }
      .icon-bar + .icon-bar {
        margin-top: 5px;
      }
      @media screen and (min-width: $screen-adaptive-nav) {
        display: none;
      }
    }
    &__collapse {
      overflow-x: visible;
      border: 1px solid transparent;
      -webkit-overflow-scrolling: touch;
      display: none;
      position: fixed;
      top: 0;left: 0;right: 0;bottom: 0;
      background-color: $white-lighten;
      padding: 100px 20px 0;

      &.in {
        overflow-y: auto;
      }

      @media screen and (min-width: $screen-adaptive-nav) {
        padding: 0;
        display: block !important;
        position: static;
        background-color: transparent;
        width: auto;

        &.collapse {
          display: block !important;
          height: auto !important;
          padding-bottom: 0;
          overflow: visible !important;
        }

        &.in {
          overflow-y: visible;
        }
      }
    }
  }
}
