//
// Pages -> about
// ------------------------------------

.about {
  @extend .section;
  &-main-img {
    margin: 30px 0;
    @media screen and (min-width: $screen-tablet) {
      margin: 0;
    }
  }
  &-blockquote {
    position: relative;
    p {
      line-height: 1.8;
    }
    ul {margin-bottom: 0;}
    @media screen and (min-width: $screen-tablet) {
      &::after,
      &::before {
        content: '';
        width: 50px;
        height: 36px;
        background: url('../images/blockquote-b.svg') no-repeat center;
        display: inline-block;
        position: absolute;
      }
      &::before {
        bottom: -25px;left: -100px;
      }
      &::after {
        right: 0;top: 0;
      }
    }
  }
  h4 {
    margin-top: 0;
    margin-bottom: 30px;
    @media screen and (min-width: $screen-tablet) {
      margin-bottom: 50px;
    }
  }
  &__item {
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    @media screen and (min-width: $screen-tablet) {
      margin-top: 80px;
      margin-bottom: 80px;
    }
  }
  &-sign {
    margin-top: auto;
  }
  &-anim {
    &--1 {
      bottom: 140px;
      left: -25px;
      @media screen and (min-width: $screen-desktop) {
        bottom: 20px;
      }
      @media screen and (min-width: $screen-xl-desktop) {
        left: -55px;
      }
    }
    &--2 {
      top: -80px;
      right: -80px;
    }
    &--3 {
      right: -74px;
    }
    &--4 {
      top: 100px;
      left: -70px;
    }
    &--5 {
      top: 0;
      left: 0;
    }
  }
  a:not(.btn) {
    color: $color-type-3a
  }
  .slider-info {
    margin: 30px auto 0;
    position: static;
    @media screen and (min-width: $screen-tablet) {
      margin: 50px auto 0;
    }
  }
}

.team {
  position: relative;
  &__item {
    font-family: $base-font-family-serif;
    overflow: hidden;
    @media screen and (min-width: $screen-mobile) {
      padding: 30px 20px 0;
    }
  }
  @media screen and (min-width: $screen-mobile) {
    .slick-list {
      margin: 0 -20px;
    }
  }
  img {
    margin-bottom: 20px;
  }
}

.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: $screen-tablet) {
    flex-wrap: nowrap;
  }
  &__item {
    width: 46%;
    margin: 5px;
    @media screen and (min-width: $screen-tablet) {
      width: auto;
      margin: 0 20px;
    }
    @media screen and (min-width: $screen-xl-desktop) {
      margin: 0;
    }
  }
}
