//
// Pages -> contacts
// ------------------------------------

.contacts {
  form {
    padding: 60px 0;
    @media screen and (min-width: $screen-tablet) {
      padding: 0;
    }
  }
  &-body {
    min-height:500px;
  }
  &-footer {
    position: relative;
    background-color: #f7f7f7;
    @extend .section-x15;
    letter-spacing: 2.6px;
    text-transform: uppercase;
    font-family:$base-font-family-serif;
    padding-left: 5px;
    padding-right: 5px;
    @media screen and (min-width: $screen-xl-desktop) {
      padding-left: 15px;
      padding-right: 15px;
    }
    &:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;bottom: 0;
      left: -100%;
      background-color: #f7f7f7;
    }
  }
}


.map {
  height: 430px;
  @media screen and (min-width: $screen-tablet) {
    width: 77%;
    height: 100%;
    position: absolute;
    right: 48.2%;
    top: 0;
  }
}
