//
// Pages -> contacts
// ------------------------------------

.goods {
  @extend .section;
  &__item {
    position: relative;
    margin-bottom: 40px;
    .is-row {
      flex-wrap: nowrap;
    }
    @media screen and (min-width: $screen-tablet) {
      margin-bottom: 60px;
    }
    @media screen and (min-width: $screen-xl-desktop) {
      margin-bottom: 70px;
    }
    &-img {
      display: flex;
      margin: 0 -2px 30px;
      @media screen and (min-width: $screen-xl-desktop) {
        margin: 0 -2px 40px;
      }
      > div {
        padding: 0 2px;
      }
      img {width: 100%;}
      img + img {
        margin-top: 4px;
      }
    }
    &-title {
      font-family: $base-font-family-serif;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-size: 12px;
      @media screen and (min-width: $screen-xl-desktop) {
        font-size: 14px;
      }
    }
    &-list {
      color: #7b7b7b;
      font-family: 'mullerregular';
      font-size: 13px;
      width: 60%;
      @media screen and (min-width: $screen-tablet) {
        width: auto;
      }
      i {
        margin-right: 10px;
      }
    }
    &-anim {
      &--right {
        right: -30px;
        bottom: 30px;
      }
      &--left {
        left: -25px;
        top: 95px;
      }
    }
  }
}
