//
// Pages -> Index
// ------------------------------------

.banner {
  color: $white-lighten;
  @extend .section;
  padding-top: 51px;
  position: relative;
  z-index: 1;
  @media screen and (min-width: $screen-tablet) {
    padding-top: 75px;
  }
  @media screen and (min-width: $screen-xl-desktop) {
    h1 {
      margin-bottom: 60px;
    }
  }
  .margbot40 {
    margin-bottom: 0;
    @media screen and (min-width: $screen-xl-desktop) {
      margin-bottom: 40px;
    }
  }
  &--second {
    h1 {margin-bottom: 0;}
  }
}
.catalog {
  @extend .text__xs;
  text-transform: uppercase;
  font-family: $base-font-family-serif;
  .is-row--null {
     margin-left: 0;
     margin-right: 0;
    .is-col {
     padding-left: 0;
     padding-right: 0;
   }
  }
  &.is-row {
    margin-left: -10px;
    margin-right: -10px;
  }
  .is-col {
    padding-left: 10px;
    padding-right: 10px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    height: 250px;
    padding: 20px;
    min-width: 250px;
    color: $white-lighten;
    border: 4px solid $white-lighten;
    background: transparent;
    position: relative;
    overflow: hidden;
    @include transition();
    &-inner {
      position: absolute;
      width: 100%;
      left: -100%;
      top: 0;bottom: 0;
      padding: 20px 10px 0;
      color: $black;
      background: $white-lighten;
      @include transition();
    }
    &:hover {
      text-decoration: none;
      .catalog__item-inner {
        left: 0;
      }
    }
    @media screen and (min-width: $screen-tablet) {
      height: 210px;
      min-width: inherit;
      &--end {
        margin-left: auto;
      }
    }
    @media screen and (min-width: $screen-xl-desktop) {
      height: 250px;
      padding: 30px;
    }
    &:hover {
      text-decoration: none;
    }
    &-top {
      text-align: right;
      letter-spacing: 4.84px;
    }
    &-center {
      position: absolute;
      overflow: hidden;
      right: 10px;
      left: 10px;
      margin-top: 20px;
      @include transition();
      h6 {
        max-width: 180px;
        margin-top: 0;
        // letter-spacing: 2px;
        letter-spacing: 4.84px;
      }
      p {
        text-transform: none;
        font-family: 'mullerregular';
      }
    }
    &-bottom {
      width: 180px;
      margin-top: auto;
      letter-spacing: 4.84px;
      .catalog__item:hover & {
        opacity: 0;
      }
    }
    &-link {
      text-align: right;
      letter-spacing: 2.84px;
      position: absolute;
      right: 20px;bottom: 20px;
      &:before {
        content: '';
        display: inline-block;
        width: 76px;
        height: 1px;
        background-color: $black;
        margin-right: 20px;
      }
    }
  }
  &-link {
    font-size: 10px;
    text-transform: uppercase;
    font-family: $base-font-family-serif;
    background: rgba($white-lighten, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white-lighten;
    padding: 30px 0;
    @media screen and (min-width: $screen-tablet) {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }
    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 35px;
      height: 1px;
      margin-right: 15px;
      background-color: $white-lighten;
      @media screen and (min-width: $screen-tablet) {
        width: 70px;
        margin-right: 30px;
      }
    }
    @media screen and (min-width: $screen-tablet) {
      position: static;
      font-size: 15px;
    }
  }
}

.about-main {
  @extend .section-x2;
  @extend .title-section;
  @extend .par-section;
}

.projects-main {
  color: $white-lighten;
  position: relative;
  padding-top: 50px;
  padding-bottom: 100px;
  // background: url('../images/index/projects.jpg') no-repeat center center / cover;
  @media screen and (min-width: $screen-tablet) {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .sub-title {
    &:before {
      background-color: $white-lighten;
    }
  }
}

.services-main {
  @extend .section;
  @extend .title-section;
  position: relative;
  line-height: 1.8;
  &__desc {
    position: relative;
    margin-bottom: 30px;
    @media screen and (min-width: $screen-tablet) {
      margin-bottom: 0;
    }
    @media screen and (min-width: $screen-xl-desktop) {
      padding: 10px 35px;
    }
    &:before {
      content: '';
      width: 45px;
      height: 1px;
      background-color: $black;
      display: block;
      margin: 15px 0;
      @media screen and (min-width: $screen-tablet) {
        display: inline-block;
        position: absolute;
        left: 35px;
        top: -60px;
      }
    }
  }
}

.forms-main {
  @extend .section;
  @extend .title-section;
  padding-top: 0;
  @media screen and (min-width: $screen-tablet) {
    padding-top: 75px;
  }
}
