//
// Pages -> news
// ------------------------------------
.news-sub-title {
  text-transform: uppercase;
  margin-bottom: 25px;
  font-size: 11px;
  font-family: $base-font-family-serif
}

.news {
  @extend .section-x15;
  &-one {
    .news__item-date {
      position: static;
    }
  }
  &-share {
    margin-top: 40px;
    display: flex;
    align-items: center;
    @media screen and (min-width: $screen-tablet) {
      margin-top: 50px;
      display: block;
    }
    ul {
      margin-bottom: 0;
      > li {
       &::before {
         display: none;
       }
       margin-bottom: 0;
     }
    }
    b {
      font-family: $base-font-family-serif;
      display: inline-block;
      text-transform: uppercase;
      font-size: 11px;
      margin-right: 50px;
      @media screen and (min-width: $screen-tablet) {
        margin-right: 0;
        transform: rotate(-90deg);
        margin-bottom: 36px;
      }
    }
    li {
      margin-bottom: 10px;
    }
  }
  &-inner {
    &--mini {
      .news__item {
        margin-bottom: 30px;
        @media screen and (min-width: $screen-tablet) {
          margin-bottom: 50px;
        }
        &-date {
          position: absolute;
          padding: 6px 10px;
          font-size: 11px;
          span {font-size: 10px;}
        }
        &-title {
          font-size: 10px;
          margin-top: 30px;
          margin-bottom: 0;
        }
        &-img {
          margin-bottom: 30px;
          height: auto;
        }
        &-link {
          padding: 20px;
          font-size: 9px;
          span {
            &:before {
              width: 40px;
              margin: 4px 10px 4px 0;
            }
          }
        }
      }
    }
  }
  &__item {
    position: relative;
    display: block;
    margin-bottom: 60px;
    @media screen and (min-width: $screen-xl-desktop) {
      margin-bottom: 70px;
    }
    &:hover {
      text-decoration: none;
      .news__item-title {
        color: $color-type-3a;
      }
      .news__item-link {
        opacity: 1;
        width: 100%;
        padding: 35px;
      }
    }
    .news__item-img {
      // margin-bottom: 30px;
    }
    &-link {
      // opacity: 0;
      overflow: hidden;
      width: 0;
      position: absolute;
      bottom: 0;left: 0;right: 0;
      padding: 35px 0;
      font-size: 11px;
      text-transform: uppercase;
      text-align: center;
      color: $white-lighten;
      background-color: $color-type-3a;
      font-family: $base-font-family-serif;
      @include transition(0.7s all);
      span {
        white-space: nowrap;
      }
      span {
        &:before {
          content: '';
          display: inline-block;
          width: 70px;
          height: 1px;
          margin: 4px 30px 4px 0;
          background-color: $white-lighten;
        }
      }
    }
    &-date {
      position: absolute;
      top: 0;left: 0;
      padding: 15px 30px;
      z-index: 9;
      display: inline-block;
      color: $white-lighten;
      background-color: $color-type-3a;
      font-family: $base-font-family-serif;
      @media screen and (min-width: $screen-tablet) {
        padding: 15px;
      }
      span {
        @extend .text__sm;
        font-family: $base-font-family;
      }
    }
    &-img {
      margin-bottom: 30px;
      position: relative;
      height: 250px;
      @media screen and (min-width: $screen-tablet) {
        margin-bottom: 50px;
      }
      @media screen and (min-width: $screen-desktop) {
        height: 320px;
      }
      @media screen and (min-width: $screen-xl-desktop) {
        height: 370px;
      }
      img {width: 100%;}
    }
    &-title {
      @extend h3;
      font-size: 14px;
      letter-spacing: 4px;
      @media screen and (min-width: $screen-tablet) {
        font-size: 20px;
      }
    }
    &-desc {
      color: #717070;
      line-height: 1.7;
      &:before {
        content: '';
        display: block;
        width: 50px;
        height: 3px;
        margin-bottom: 30px;
        background-color: $color-type-3a;
      }
    }
  }
  &-backlink {
    display: block;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.64px;
    position: relative;
    padding: 50px 0;
    border-bottom: 3px solid $color-type-3a;
    font-family: $base-font-family-serif;
    @media screen and (min-width: $screen-tablet) {
      margin-top: 40px;
    }
    &:before {
      content: '';
      width: 76px;
      height: 1px;
      background-color: #2b2b2b;
      display: inline-block;
      margin: 4px 30px 4px 0;
    }
  }
}
