//
// Pages -> projects
// ------------------------------------

.projects {
  .slider-info {
    margin-top: 30px;
    position: static;
    width: 100%;
  }
  .paging-info span {
    color: $white-lighten;
  }
  .arr-info {
    border: 1px solid $white-lighten;
  }
  .catalog__item {
    margin: 10px 0;
  }
  &-menu {
    @extend .list--inline;
    @extend .font__sm;
    font-family: 'mullermedium';
    text-transform: uppercase;
    letter-spacing: 5.72px;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    text-align: center;
    li {
      margin: 0 20px;
    }
    a {
      color: $white-lighten;
      border-bottom: 3px solid transparent;
      position: relative;
      padding-bottom: 10px;
      &::after {
        content: '';
        width: 0;
        height: 3px;
        position: absolute;
        left: 0;right: 0;
        bottom: -3px;
        display: inline-block;
        @include transition();
        background-color: $color-type-3a;
      }
      &:hover,
      &.active {
        text-decoration: none;
        &::after {
          width: 100%;
        }
      }
    }
  }
}
