//
// Pages -> project
// ------------------------------------

.project {
  &-header {
    font-size: 18px;
    text-transform: uppercase;
    font-family: $base-font-family-serif;
    position: relative;
    @media screen and (min-width: $screen-tablet) {
      font-size: 22px;
    }
    &--b {
      &::after,
      &::before {
        content: '';
        background-color: #ececec;
        position: absolute;
        height: 1px;
        width: 200%;
        right: -50%;
        left: -50%;
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
    }
    &-cat {
      padding: 31px;
      color: $white-lighten;
      background-color: $color-type-3a;
      @media screen and (min-width: $screen-xl-desktop) {
        padding: 45px;
      }
    }
    &-title {
      margin: 30px 0;
      text-transform: none;
      font-family: 'mullermedium';
    }
    &__item {
      padding: 20px;
      @media screen and (min-width: $screen-tablet) {
        padding: 0;
      }
    }
  }
  &-info {
    @media screen and (max-width: $screen-sm-max) {
        td, tr, table {
          display: block;
        }
        td {
          padding: 2px 0;
        }
        tr {
          padding: 8px 0;
        }
    }
    &-plague {
      padding: 20px;
      font-family: 'mullermedium';
      background-color: #f5f5f5;
      margin-bottom: 70px;
      @media screen and (min-width: $screen-tablet) {
        padding: 37px 50px;
      }
    }
    &-list {
      margin-bottom: 70px;
      @media screen and (min-width: $screen-tablet) {
        margin-bottom: 100px;
      }
      &__item {
        flex-wrap: wrap;
        display: flex;
        margin-bottom: 30px;
        @media screen and (min-width: $screen-tablet) {
          margin-bottom: 40px;
        }
        &-ico {
          width: 100%;
          margin-bottom: 10px;
          @media screen and (min-width: $screen-tablet) {
            width: 15%;
          }
        }
        &-desc {
          width: 85%;
          line-height: 1.9;
        }
        &-title {
          font-family: 'mullermedium';
          font-size: 13px;
          text-transform: uppercase;
          letter-spacing: 3.64px;
        }
      }
    }
  }
  &-sign {
    margin-top: 70px;
    margin-bottom: 70px;
    @media screen and (min-width: $screen-tablet) {
      margin-top: 0;
      margin-bottom: 110px;
    }
    img {
      margin-bottom: 70px;
      @media screen and (min-width: $screen-tablet) {
        margin-bottom: 0;
      }
    }
    &-blockquote {
      position: relative;
      @media screen and (min-width: $screen-desktop) {
        padding-left: 13px;
      }
      &::before {
        content: '';
        width: 29px;
        height: 21px;
        background: url('../images/blockquote.svg') no-repeat center;
        display: inline-block;
        position: absolute;
        top: 0;
        left: -70px;
      }
    }
  }
  &-nav {
    margin-bottom: 60px;
    @media screen and (min-width: $screen-tablet) {
      margin-bottom: 120px;
    }
    &-btn {
      height: 130px;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      font-family: $base-font-family-serif;
      font-size: 9px;
      text-transform: uppercase;
      letter-spacing: 2.64px;
      @include transition;
      @media screen and (min-width: $screen-tablet) {
        font-size: 11px;
        height: 200px;
      }
      b {
        &::before {
          content: '';
          margin-right: 20px;
          width: 76px;
          height: 1px;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
    &-prev {
      background-color: #f3f3f3;
      b {
        &::before {
          background-color: $black;
        }
      }
      &:hover {
        text-decoration: none;
        background-color: darken(#f3f3f3, 5%);
      }
    }
    &-next {
      color: $white-lighten;
      background-color: $color-type-3a;
      b {
        &::before {
          background-color: $white-lighten;
        }
      }
      span {
        display: inline-block;
        margin-top: 25px;
        font-size: 12px;
        @media screen and (min-width: $screen-tablet) {
          font-size: 15px;
        }
      }
      &:hover {
        text-decoration: none;
        background-color: darken($color-type-3a, 5%);
      }
    }
  }
  &-anim {
    position: absolute;
    top: 250px;
    left: -70px;
    @media screen and (min-width: $screen-desktop) {
      top: 330px;
    }
  }
}
