//
// Pages -> services
// ------------------------------------

.services {
  @extend .section;
  padding-top: 0;
  @media screen and (min-width: $screen-tablet) {
    padding-top: 50px;
  }
  .img {
    position: relative;
    z-index: 1;
  }
  &__item {
    margin-top: 50px;
    margin-bottom: 50px;
    @media screen and (min-width: $screen-xl-desktop) {
      margin-top: 75px;
      margin-bottom: 75px;
    }
    &--b {
      position: relative;
      &::before {
        content: '';
        background-color: #ececec;
        position: absolute;
        height: 1px;
        width: 200%;
        right: -50%;
        left: -50%;
        top: 0;
      }
      img {
        margin-top: 50px;
        @media screen and (min-width: $screen-tablet) {
          margin-top: 0;
        }
      }
    }
    &--end {
      margin-left: auto;
    }
    &-img {
      margin: 50px 0;
    }
  }
  p {
    margin-bottom: 30px;
  }
  h2, h4 {
    margin-top: 0;
    margin-bottom: 30px;
    @media screen and (min-width: $screen-tablet) {
      margin-bottom: 50px;
    }
  }
  &-anim {
    position: absolute;
    &--1 {
      top: 0;left: 0;
    }
    &--2 {
      bottom: -50px;
      left: 70px;
    }
  }
  &-proj {
    margin-bottom: 50px;
    @media screen and (min-width: $screen-tablet) {
      margin-bottom: 0;
    }
  }
  &-inner {
    margin-top: 40px;
    border: 2px solid $black;
    background-color: $white-lighten;
    @media screen and (min-width: $screen-tablet) {
      margin-top: 60px;
      margin-bottom: 75px;
    }
    h5 {
      margin-top: 0;
      margin-bottom: 30px;
      letter-spacing: 5.72px;
    }
    p {
      margin-bottom: 0;
      @media screen and (min-width: $screen-xl-desktop) {
        line-height: 1.9;
      }
    }
    &__item {
      padding: 30px 27px;
      height: 100%;
      &--right {
        border-top: 2px solid $black;
        @media screen and (min-width: $screen-tablet) {
          border-top: none;
          border-left: 2px solid $black;
        }
      }
      &--top {
        border-top: 2px solid $black;
      }
    }
  }
  &-list {
    margin-top: 50px;
    &__item {
      &::before {
        content: '';
        width: 39px;
        height: 3px;
        margin-bottom: 20px;
        display: inline-block;
        background-color: $color-type-3a;
      }
    }
  }
  &-menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    border: 1px solid #e8e8e8;
    background-color: #ffffff;
    margin-bottom: 50px;
    margin-left: -10px;
    margin-right: -10px;
    @media screen and (min-width: $screen-tablet) {
      margin-bottom: 70px;
      margin-left: -1px;
      margin-right: 0;
    }
    > li {
      margin-bottom: 0 !important;
      width: 100%;
      @media screen and (min-width: $screen-tablet) {
        width: auto;
      }
      &::before {
        display: none !important;
      }
    }
    a {
      display: block;
      padding: 14px 0;
      color: $black;
      font-family: 'mullermedium';
      font-size: 11px;
      text-transform: uppercase;
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;
      position: relative;
      @media screen and (min-width: $screen-tablet) {
        padding: 24px 0;
      }
      @media screen and (min-width: $screen-xl-desktop) {
        letter-spacing: 1.3px;
        font-size: 13px;
      }
      &::after {
        content: '';
        width: 0;
        height: 3px;
        position: absolute;
        left: 0;right: 0;
        bottom: -3px;
        display: inline-block;
        @include transition();
        background-color: $color-type-3a;
      }
      &.active,
      &:hover,
      &:focus {
        text-decoration: none;
        &::after {
          width: 100%;
        }
      }
    }
  }
}
