footer.page-footer
  .page-footer__top
    .container
      .is-row.between__xs
        .is-col
          .page-footer__menu
            ul 
              li: a(href='#') о компании
              li
                a(href='#') услуги
                ul
                  li: a(href='#') Проектирование
                  li: a(href='#') Строительство
                  li: a(href='#') Комплектация
        .is-col.margbot40
          .page-footer__menu
            ul
              li: a(href='#') направления деятельности
              li: a(href='#') проекты
              li: a(href='#') новости
              li: a(href='#') контакты
        .is-col.margbot40
          p #[span.text--warning тел.] +7 (812) 448-68-74
          p #[span.text--warning почта] info@theexpert.pro
          .visible__md.visible__lg
            .page-footer__social
              ul.list--inline
                li: a(href='#'): i.icon-facebook
                li: a(href='#'): i.icon-vkontakte
                li: a(href='#'): i.icon-youtube-play
        .is-col.margbot40
          p #[span.text--warning адрес]
          p Санкт-Петербург #[br] 191028 Литейный пр. д.26, оф.303 #[br] Б/ц «Преображенский Двор»
        .is-col.text--right.hidden__md.hidden__lg.margbot40
          .page-footer__social
            ul.list--inline
              li: a(href='#'): i.icon-facebook
              li: a(href='#'): i.icon-vkontakte
              li: a(href='#'): i.icon-youtube-play
  .page-footer__bottom
    .container
      .is-row.is-row--null.between__xs
        .margbot20= index.footer
        .margbot20.is-row.is-row--null.middle__xs
          span Разработка сайта &nbsp;
          a(href='#'): img(src='images/foot-logo-mill.png', alt='')
