header.page-header
    .container.relative
      .is-row.middle__xs.between__xs
        .is-col.is-col__md-2
          .page-header__logo
            a.nofix(href="/")
                img(src="images/logo.png", alt="Pro Expert")
            a.fix(href="/")
                img(src="images/logo-b.png", alt="Pro Expert")
        .is-col.is-col__md-7
          include ../components/_navbar
        .is-col.is-col__lg-2-5.is-col__md-3.stretch__self.hidden__sm.hidden__xs
          .page-header__phone
            a(href='tel:+78124486874') +7 (812) 448-68-74
