$icons: (
	  sprite: (width: 174px, height: 71px, svgPath: '../images/svg/sprite.svg'),
 	close: (width: 51px, height: 51px, backgroundX: 0px, backgroundY: 0px),
 	furniture: (width: 13px, height: 14px, backgroundX: -71px, backgroundY: 0px),
 	house: (width: 15px, height: 14px, backgroundX: -104px, backgroundY: 0px),
 	light: (width: 15px, height: 14px, backgroundX: -139px, backgroundY: 0px),
);
