main.page-main
  section.banner.banner--second(style='background:url("images/about/about.jpg") no-repeat center center / cover')
    .container.relative
      include ../components/_decor-h
      .is-row.animated(data-animation="slideInUp", data-animation-delay="300")
        .is-col.is-col__xl-1.is-col__xs-12
        .is-col.is-col__xl-5-5.is-col__md-7-5.is-col__xs-12
          include ../components/_breadcrumbs
          h1.main-title= title
  section.about.text-template
    .container.relative
      include ../components/_decor-b
      .is-row.animated(data-animation="slideInUp", data-animation-delay="300")
        .is-col.is-col__xl-1.is-col__xs-12
        .is-col.is-col__xl-11.is-col__xs-12
            h4 О подходе
      .is-row.stretch__xs.between__xs.animated(data-animation="slideInUp", data-animation-delay="500")
        .is-col.is-col__xl-1.is-col__xs-12
        .is-col.is-col__xl-5-5.is-col__md-6.is-col__xs-12
          .about-blockquote
            h4.text--warning space management
            p Это подход к управлению интерьерным проектом от компании ProExpert. Он основан на принципе Turn Key – реализация проектов «Под ключ».
            p Квалифицикация сотрудников компании позволяет комплексно подходить к работе над объектом, выполняя проектирование интерьера, строительно-отделочные и инженерные работы, 100-процентную комплектацию объекта. Акцент на деталях на этапе разработки проекта позволяет избежать возможных рисков  и удорожания стоимости в процессе реализации. Работа с каждым заказчиком ведется индивидуально, основываясь на бюджете, сроках выполнения работ, требованиях и пожеланиях клиента.
            p Эффективность Space Management достигается вовлечением в проект команды специалистов, каждый из которых ответственен за отдельный этап, начиная с первого дня реализации проекта.
            b Основные преимущества Space Management:
            ul
              li Сокращение и соблюдение сроков реализацией проекта
              li Экономия бюджета на реализацию проекта
              li Ответственность за сроки и качество реализации проекта берет на себя компания Pro Expert            
        .is-col.is-col__xl-0-5.is-col__xs-12
        .is-col.is-col__xl-5.is-col__md-6.is-col__xs-12.relative.is-row.is-row--null
          .relative
            .about-anim.about-anim--1(data-bottom-top="transform:translate3d(0px, 50px, 0px)", data-top-bottom="transform:translate3d(0px, -80px, 0px)")
               img.visible__xl(src='images/about-anim-1.png', alt='')
               img.hidden__xl(src='images/about-anim-11.png', alt='')
            img.about-main-img(src='images/about/leader.jpg', alt='')
          .about-sign
            b Михаил Турецкий, 
            br
            span генеральный директор Pro Expert
      .about__item.animated(data-animation="slideInUp", data-animation-delay="300")
        .is-row
          .is-col.is-col__xl-1.is-col__xs-12
          .is-col.is-col__xl-11.is-col__xs-12
              h4 IPG + Pro Expert = #[span.text--warning Turn Key Project]
        .is-row
          .is-col.is-col__xl-1.is-col__xs-12
          .is-col.is-col__xl-5-5.is-col__md-6.is-col__xs-12
            p Партнерские отношения между компаниями Pro Expert и #[a(href='#') IPG.Estate] позволяют реализовать проект любой сложности по схеме Turn Key, которая подразумевает комплекс работ по поиску, брокериджу, строительству и инженерному оснащению помещений «под ключ».
            p Данная схема работает как при строительстве новых объектов, так и при реконструкции/редевелопменте уже существующих зданий под клиента. Преимущество формата заключается в том, #[b что клиент получает объект в необходимой для него локации, полностью соответствующий требованиям и пожеланиям,] что позволяет комфортно организовать пространства для жизни и бизнес-процессов.
          .is-col.is-col__xl-0-5.is-col__xs-12
          .is-col.is-col__xl-5.is-col__md-6.is-col__xs-12.relative
            .about-anim.about-anim--2(data-bottom-top="transform:translate3d(0px, 50px, 0px)", data-top-bottom="transform:translate3d(0px, -80px, 0px)"): img(src='images/about-anim-2.png', alt='')
            img(src='images/about/about-1.jpg', alt='')  
      .is-row.about__item.animated(data-animation="slideInUp", data-animation-delay="300")
        .is-col.is-col__xl-1.is-col__xs-12.first__xs
        .is-col.is-col__xl-5-5.is-col__md-6.is-col__xs-12.relative.first__md.last__xs
          .about-anim.about-anim--4(data-bottom-top="transform:translate3d(0px, 50px, 0px)", data-top-bottom="transform:translate3d(0px, -80px, 0px)"): img(src='images/about-anim-4.png', alt='')
          img(src='images/about/about-2.jpg', alt='')
        .is-col.is-col__xl-0-5.is-col__xs-12
        .is-col.is-col__xl-5.is-col__md-6.is-col__xs-12
          p В данной схеме специалисты IPG.Estate оказывают #[b услуги брокериджа], а также берут на себя работу по #[b подготовке концепции эффективности объекта для заказчика]. Команда ProExpert оказывает услуги по созданию интерьера, строительству и комплектации объекта.
          p Такое решение позволяет заказчику #[b сэкономить время и сократить строку расходов, избежать проблем, связанных с поиском и реализацией проекта объекта недвижимости.]
          p: b Эффективное взаимодействие ProExpert и IPG.Estate гарантирует качество выполнения работы точно в срок.
      .is-row.about__item.animated(data-animation="slideInUp", data-animation-delay="300")
        .is-col.is-col__xl-1.is-col__xs-12
        .is-col.is-col__xl-11.is-col__xs-12
            h4 Доказательством тому #[br] служит ряд реализованных проектов 
            a.btn.btn--default(href='#') Совместно реализованные проекты
      .is-row.about__item.animated(data-animation="slideInUp", data-animation-delay="500")
        .is-col.is-col__xl-1.is-col__xs-12
        .is-col.is-col__xl-11.is-col__xs-12
            h4 Команда Pro Expert
            .carousel.team
              - for (var x = 1; x < 6; x++)
                .item.team__item
                  .about-anim.about-anim--5(data-bottom-top="transform:translate3d(0px, 120px, 0px)", data-top-bottom="transform:translate3d(0px, 0px, 0px)"): img(src='images/about-anim-5.png', alt='')
                  img(src='images/about/team.jpg', alt='')
                  p.text__xs.text--warning.text--uppercase Михаил Турецкий
                  p.text__md.text--default Генеральный директор
            .slider-info.text--center.between__xs
              .arr-info.arr-info-next: img(src='images/arr-sl-prev.png', alt='')
              .arr-info.arr-info-prev: img(src='images/arr-sl-next.png', alt='')
      form.is-row.about__item.bottom__xs.animated(data-animation="slideInUp", data-animation-delay="300")
        .is-col.is-col__xl-1.is-col__xs-12
        .is-col.is-col__xl-5-5.is-col__md-6.is-col__xs-12
          h4 написать письмо директору
          .is-row.between__xs
            .is-col.is-col__xl-5.is-col__md-6.is-col__xs-12
              .form__group
                input.control(type='text', placeholder='имя', name='name')
            .is-col.is-col__xl-5.is-col__md-6.is-col__xs-12
              .form__group
                input.control(type='email', placeholder='email', name='email')
          .form__group
            textarea.control(placeholder='сообщение', rows='4')
        .is-col.is-col__xl-0-5.is-col__xs-12
        .is-col.is-col__xl-5.is-col__md-6.is-col__xs-12
          .form__group
            button.btn.btn--high.btn--full.btn--warning.btn--ico(type='submit')
              span отправить
              img(src='images/arr.png', alt='')
      .is-row.about__item.animated(data-animation="slideInUp", data-animation-delay="300")
        .is-col.is-col__xl-1.is-col__xs-12
        .is-col.is-col__xl-11.is-col__xs-12
          h4 наши клиенты
          .clients
            .about-anim.about-anim--3(data-bottom-top="transform:translate3d(0px, 50px, 0px)", data-top-bottom="transform:translate3d(0px, -80px, 0px)"): img(src='images/about-anim-3.png', alt='')
            - for (var x = 1; x < 7; x++)
              .clients__item
                img(src='images/brand-'+x+'.png', alt='')
