main.page-main.page-catalog
  section.banner.banner--second(style='background:url("images/goods/goods.jpg") no-repeat center center / cover')
    .container.relative
      include ../components/_decor-h
      .is-row
        .is-col.is-col__xl-1.is-col__xs-12
        .is-col.is-col__xl-5-5.is-col__md-7-5.is-col__xs-12
          include ../components/_breadcrumbs
          h1.main-title= title
  section.goods 
    .container.relative
      include ../components/_decor-b
      +goods(goods)
