main.page-main
  section.banner.banner--second(style='background:url("images/contacts.jpg") no-repeat center center / cover')
    .container.relative
      include ../components/_decor-h
      .is-row
        .is-col.is-col__xl-1.is-col__xs-12
        .is-col.is-col__xl-5-5.is-col__md-7-5.is-col__xs-12
          include ../components/_breadcrumbs
          h1.main-title= title
  section.contacts
    .container.relative
      include ../components/_decor-b 
      .is-row.is-row--null.center__xs.contacts-footer.hidden__md.hidden__lg.hidden__xl
        .is-col.is-col__xs-12
          p.text__sm.text--warning телефон
          p.text__sm +7 (812) 448-68-74
        .is-col.is-col__xs-12
          p.text__sm.text--warning почта
          p.text__sm info@theexpert.pro
        .is-col.is-col__xs-12
          p.text__sm.text--warning адрес
          p.text__sm г. Санкт-Петербург #[br] 191028 Литейный пр. д.26, оф.303 #[br] Б/ц «Преображенский Двор»
      .is-row.middle__xs.between__xs.contacts-body.relative.animated(data-animation="slideInUp", data-animation-delay="300")
        .is-col.is-col__md-6.is-col__xs-12
          script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMIwxPKB0U5RRTgWEElBHP1s6dkY4OJWM&callback=initMap", defer, async)
          #map.map
        .is-col.is-col__xl-5.is-col__md-6.is-col__xs-12
          form(action="" method="method")
            legend напишите нам
            .form__group
              input.control(type='text', placeholder='имя', name='name')
            .form__group
              input.control(type='email', placeholder='email', name='email')
            .form__group
              input.control(type='text', placeholder='телефон', name='phone')
            .is-col__md-6
              button.btn.btn--full.btn--warning(type='submit') отправить
      .is-row.is-row--null.between__lg.around__xs.contacts-footer.hidden__sm.hidden__xs.animated(data-animation="slideInUp", data-animation-delay="500")
        .is-col
          p.text__sm.text--warning телефон
          p.text__sm +7 (812) 448-68-74
        .is-col
          p.text__sm.text--warning почта
          p.text__sm info@theexpert.pro
        .is-col
          p.text__sm.text--warning адрес
          p.text__sm г. Санкт-Петербург #[br] 191028 Литейный пр. д.26, оф.303 #[br] Б/ц «Преображенский Двор»
        .is-col
          p.text__sm.text--warning Время работы
          p.text__sm Будни — с 9:00 до 18:00 #[br] Сб, Вс — выходной
        
