main.page-main
  section.banner(style='background:url("images/index/index.jpg") no-repeat center center / cover fixed',  data-type="background" data-speed="10")
    .container.relative
      include ../components/_decor-h
      .scroll-txt листайте вниз
      .is-row.is-row--null.bottom__xs.center__xs.animated(data-animation="slideInUp", data-animation-delay="300")
        .is-col.is-col__xl-1.is-col__xs-12
        .is-col.is-col__xl-5-4.is-col__lg-6.is-col__md-7.is-col__xs-12.last__md
          .catalog.slider__xs
            .item: .is-row.is-row--null.center__xs.start__md
              .is-col__sm-6.catalog__item--end
                a.catalog__item(href='#')
                  .catalog__item-top.text__xs офисы  
                  .catalog__item-bottom.text__xs EPAM  Systems
                  .catalog__item-inner
                    .catalog__item-top.text__xs офисы
                    .catalog__item-center
                      h6 EPAM  Systems
                      p.text__md Строительство офиса для международной IT-компании Epam Systems  
                    .catalog__item-link подробнее
            .item: .is-row.is-row--null.center__xs.start__md
              .is-col__sm-6
                a.catalog__item(href='#')
                  .catalog__item-top.text__xs отели
                  .catalog__item-bottom.text__xs Holiday Inn
                  .catalog__item-inner
                    .catalog__item-top.text__xs отели
                    .catalog__item-center
                      h6 Holiday Inn
                      p.text__md Строительство офиса для международной IT-компании Epam Systems
                    .catalog__item-link подробнее
            .item: .is-row.is-row--null.center__xs.start__md
              .is-col__sm-6.catalog__item--end
                a.catalog__item(href='#')
                  .catalog__item-top.text__xs апартаменты
                  .catalog__item-bottom.text__xs Х-Home   
                  .catalog__item-inner
                    .catalog__item-top.text__xs апартаменты
                    .catalog__item-center
                      h6 Х-Home
                      p.text__md Строительство офиса для международной IT-компании Epam Systems
                    .catalog__item-link подробнее
        .is-col.is-col__xl-6-1.is-col__lg-6.is-col__md-5.is-col__xs-11
          h1 Pro Experts помогает #[br] строить Ваш бизнес
          .margbot40
            a.btn.btn--outlined(href='#') получить консультацию
  section.about-main
    .container.relative
      include ../components/_decor-b
      .is-row.animated(data-animation="slideInUp", data-animation-delay="300")
        .is-col.is-col__xl-1.is-col__xs-12
        .is-col.is-col__md-6.is-col__xs-12
          .sub-title.text--warning о подходе
          h2 SPACE MANAGEMENT
          p.text__lg Это подход к управлению интерьерным проектом от компании Pro Expert. Он основан на принципе Turn Key – реализация проектов «Под ключ».
          .margbot40
            a.btn.btn--default(href='#') подробнее
        .is-col.is-col__xl-5.is-col__md-6.is-col__xs-12.relative
          img(src='images/index/about.jpg', alt='')
          .animation.animation--about.animation--scroll(data-bottom-top="transform:translate3d(0px, 50px, 0px)", data-top-bottom="transform:translate3d(0px, -80px, 0px)")
            img(src='images/aboutm-anim.png', alt='')
  section.projects-main(style='background:url("images/index/projects.jpg") no-repeat center center / cover fixed',  data-type="background" data-speed="10")
    .container.relative
      include ../components/_decor-h
      .is-col__xl-11.ended-block.animated(data-animation="slideInUp", data-animation-delay="300")
        .visible__sm.visible__xs
          .sub-title проекты
        .catalog.slider__xs
          .item: .is-row.is-row--null.stretch__xs.center__xs
            .is-col.is-col__xl-5-7.is-col__sm-6.hidden__sm.hidden__xs
              .sub-title проекты
            .is-col.is-col__xl-6-3.is-col__sm-6.is-col__xs-12
              a.catalog__item.catalog__item--end(href='#')
                .catalog__item-top.text__xs отели
                .catalog__item-bottom.text__xs Holiday Inn
                .catalog__item-inner
                  .catalog__item-top.text__xs отели
                  .catalog__item-center
                    h6 Holiday Inn
                    p.text__md Строительство офиса для международной IT-компании Epam Systems
                  .catalog__item-link подробнее
          .item: .is-row.is-row--null.stretch__xs.center__xs
            .is-col.is-col__xl-5-7.is-col__sm-6.is-col__xs-12
              a.catalog__item(href='#')
                .catalog__item-top.text__xs офисы
                .catalog__item-bottom.text__xs EPAM  Systems
                .catalog__item-inner
                  .catalog__item-top.text__xs офисы
                  .catalog__item-center
                    h6 EPAM  Systems
                    p.text__md Строительство офиса для международной IT-компании Epam Systems
                  .catalog__item-link подробнее
            .is-col.is-col__xl-6-3.is-col__sm-6.hidden__sm.hidden__xs
          .item: .is-row.is-row--null.stretch__xs.center__xs
            .is-col.is-col__xl-6-3.is-col__sm-6.is-col__xs-12.last__md
              a.catalog__item.catalog__item--end(href='#')
                .catalog__item-top.text__xs апартаменты
                .catalog__item-bottom.text__xs Х-Home
                .catalog__item-inner
                  .catalog__item-top.text__xs апартаменты
                  .catalog__item-center
                    h6 Х-Home
                    p.text__md Строительство офиса для международной IT-компании Epam Systems
                  .catalog__item-link подробнее
            .is-col.is-col__xl-5-7.is-col__sm-6.is-row.is-row--null.stretch__xs.hidden__sm.hidden__xs
              a.catalog-link.catalog-link__full.is-col__xs-12(href='#'): span перейти ко всем проектам
        .visible__sm.visible__xs
          a.catalog-link.catalog-link__full(href='#'): span перейти ко всем проектам
  section.services-main.animated(data-animation="slideInUp", data-animation-delay="300")
    .container.relative
      .is-col__lg-11.ended-block
        .sub-title.text--warning услуги
      .slider
        - for (var x = 1; x < 4; x++)
          .item
            .is-row.middle__xs
              .is-col.is-col__xl-1.is-col__xs-12
                h2.visible__sm.visible__xs Проектирование интерьера
              .is-col.is-col__md-6.is-col__xs-12
                img(src='images/index/scheme.jpg', alt='')
              .is-col.is-col__xl-5.is-col__md-6.is-col__xs-12
                .services-main__desc Реализация любой смелой идеи начинается с создания проекта. От качества выполнения работ и детализации на этапе проектирования зависит успех выполнения поставленных задач и воплощения идей в реальности.
            .is-row.middle__xs.center__xs
              .is-col.is-col__xl-1.is-col__xs-12
              .is-col.is-col__md-6.is-col__xs-10
                div
                  h2.hidden__sm.hidden__xs Проектирование интерьера
                  a.btn.btn--default(href='#') подробнее
              .is-col.is-col__xl-5.is-col__md-6.is-col__xs-12.text--right.hidden__sm.hidden__xs
                .animation.animation--services.animation--scroll(data-bottom-top="transform:translate3d(0px, 50px, 0px)", data-top-bottom="transform:translate3d(0px, -80px, 0px)")
                  img(src='images/index-anim.png', alt='')
                img(src='images/index/interior.jpg', alt='')
      .is-row.is-row--null.end__xs(style='position:static')
        .slider-info.middle__xs.between__xs
          .arr-info.arr-info-next: img(src='images/arr-sl-prev.png', alt='')
          .paging-info
          .arr-info.arr-info-prev: img(src='images/arr-sl-next.png', alt='')
  section.forms-main
    .container
      .is-row.animated(data-animation="slideInUp", data-animation-delay="300")
        .is-col.is-col__xl-1.is-col__xs-12
        .is-col.is-col__xl-7.is-col__lg-8.is-col__xs-12
          h2 Оставьте заявку на консультацию
          form(action="" method="method")
            .is-row.between__xs
              .is-col.is-col__xl-5.is-col__md-6.is-col__xs-12
                .form__group
                  input.control(type='text', placeholder='имя', name='name')
              .is-col.is-col__xl-5.is-col__md-6.is-col__xs-12
                .form__group
                  input.control(type='text', placeholder='телефон', name='phone')
            .is-row.end__xs
              .is-col.is-col__xl-5.is-col__md-6.is-col__xs-12
                .form__group
                  button.btn.btn--full.btn--warning.btn--ico(type='submit')
                    span отправить
                    img(src='images/arr.png', alt='')
                
                
                
                
