main.page-main
  section.banner.banner--second(style='background:url("images/news/news.jpg") no-repeat center center / cover')
    .container.relative
      include ../components/_decor-h
      .is-row
        .is-col.is-col__xl-1.is-col__xs-12
        .is-col.is-col__xl-5-5.is-col__md-7-5.is-col__xs-12
          include ../components/_breadcrumbs
          h1.main-title новости
  section.news.news-one
    .container.relative
      include ../components/_decor-b
      .is-row
        .is-col.is-col__md-1.is-col__xs-2.hidden__sm.hidden__xs.animated(data-animation="slideInUp", data-animation-delay="500")
          .news-share
            b share
            .page-footer__social
              ul.list--unstyled
                li: a(href='#'): i.icon-facebook
                li: a(href='#'): i.icon-vkontakte
        .is-col.is-col__md-7.is-col__xs-12.text-template.margbot40.animated(data-animation="slideInUp", data-animation-delay="300")
          .margbot40.hidden__sm.hidden__xs
          img(src='images/news/news-inner.jpg', alt='')
          .news__item-date 25 #[span августа 2017]
          h3 штаб-квартира Pro expert стала офисом года
          p.text__lg От качества выполнения работ и детализации на этапе проектирования зависит успех выполнения поставленных задач и воплощения идей в реальности. От качества выполнения работ и детализации на этапе проектирования зависит
          p.text--default От качества выполнения работ и детализации на этапе проектирования зависит успех выполнения поставленных задач и воплощения идей в реальности. От качества выполнения работ и детализации на этапе проектирования зависит успех выполнения поставленных задач и воплощения идей в реальности.От качества выполнения работ и детализации на этапе проектирования зависит успех выполнения поставленных задач и воплощения идей в реальности.
          .is-row
            .is-col.is-col__sm-6.is-col__xs-12
              ul
                li Маркерованный список
                li Маркерованный список
                li Маркерованный список
                li Маркерованный список
            .is-col.is-col__sm-6.is-col__xs-12
              ol
                li Нумерованный список
                li Нумерованный список
                li Нумерованный список
                li Нумерованный список
          blockquote 
            p От качества выполнения работ и детализации на этапе проектирования зависит успех выполнения поставленных задач и воплощения идей 
            .sign #[b —  Михаил Турецкий,] генеральный директор Pro Expert
          .is-row
            .is-col.is-col__sm-6.is-col__xs-12.margbot20
              img(src='images/news/news-inner.jpg', alt='')
            .is-col.is-col__sm-6.is-col__xs-12.margbot20
              img(src='images/news/news-inner.jpg', alt='')
          .visible__xs.visible__sm
            .news-share
              b share
              .page-footer__social
                ul.list--inline
                  li: a(href='#'): i.icon-facebook
                  li: a(href='#'): i.icon-vkontakte
          a.news-backlink(href='#') ко всем новостям
        .is-col.is-col__lg-1-5.is-col__md-1.is-col__xs-12
        .is-col.is-col__lg-2-5.is-col__md-3.is-col__xs-12
          .news-sub-title другие новости
          +news-mini(news)
          
                
                
                
