main.page-main
  section.page404.text--center(style='background:url("images/page404.jpg") no-repeat center center / cover')
    .page404-inner
      .page404-title 404
      .page404-desc.text--warning Эта страница не найдена.
      a.btn.btn--outlined(href='#') на главную
                
                
                
