main.page-main
  section.banner.projects(style='background: #2b2b2b')
    .backgrounds
      .backgrounds__item.backgrounds__item-1.active(style='background:url("images/projects.jpg") no-repeat center center / cover')
      .backgrounds__item.backgrounds__item-2(style='background:url("images/projects.jpg") no-repeat center center / cover')
      .backgrounds__item.backgrounds__item-3(style='background:url("images/projects.jpg") no-repeat center center / cover')
      .backgrounds__item.backgrounds__item-4(style='background:url("images/projects.jpg") no-repeat center center / cover')
      .backgrounds__item.backgrounds__item-5(style='background:url("images/projects.jpg") no-repeat center center / cover')
      .backgrounds__item.backgrounds__item-6(style='background:url("images/projects.jpg") no-repeat center center / cover')
      .backgrounds__item.backgrounds__item-7(style='background:url("images/projects.jpg") no-repeat center center / cover')
      .backgrounds__item.backgrounds__item-8(style='background:url("images/projects.jpg") no-repeat center center / cover')
      .backgrounds__item.backgrounds__item-9(style='background:url("images/projects.jpg") no-repeat center center / cover')
      .backgrounds__item.backgrounds__item-10(style='background:url("images/projects.jpg") no-repeat center center / cover')
    .container.relative
      include ../components/_breadcrumbs
      .projects-menu.hidden__sm.hidden__xs
        li: a.active(href='#') Офисы
        li: a(href='#') отели
        li: a(href='#') апартаменты
      +projects(projects)
      .slider-info.middle__xs.between__xs.hidden__md.hidden__lg.hidden__xl
        .arr-info.arr-info-next: img(src='images/arr-slb-prev.png', alt='')
        .paging-info
        .arr-info.arr-info-prev: img(src='images/arr-slb-next.png', alt='')
