main.page-main
  section.banner.banner--second(style='background:url("images/projects/projects.jpg") no-repeat center center / cover')
    .container.relative
      include ../components/_decor-h
      .is-row 
        .is-col.is-col__xl-1.is-col__xs-12
        .is-col.is-col__xl-5-5.is-col__md-7-5.is-col__xs-12
          include ../components/_breadcrumbs
          h1.mainp-title= title
  section.project.text-template
    .container.relative
      include ../components/_decor-b
      .is-row.project-header.middle__xs
        .is-col.is-col__xl-1.is-col__xs-12.first__xs
        .is-col.is-col__xl-5-5.is-col__md-4.is-col__xs-12.first__md.last__xs.text--center.text__md--left.animated(data-animation="slideInUp", data-animation-delay="300")
          .project-header-cat о проекте
        .is-col.is-col__xl-0-55.is-col__md-2.is-col__sm-4.is-col__xs-5.text--center.animated(data-animation="slideInUp", data-animation-delay="400")
          .project-header__item
            p.text--warning год
            .text__xs 2017
        .is-col.is-col__xl-2-5.is-col__md-3.is-col__sm-4.is-col__xs-7.text--center.animated(data-animation="slideInUp", data-animation-delay="500")
          .project-header__item 
            p.text--warning клиент
            .text__xs Epam Systems
        .is-col.is-col__xl-2-5.is-col__md-3.is-col__sm-4.is-col__xs-12.text--center.animated(data-animation="slideInUp", data-animation-delay="600")
          .project-header__item
            p.text--warning город
            .text__xs Санкт-петербург
      .is-row.project-header.project-header--b.middle__xs.animated(data-animation="slideInUp", data-animation-delay="700")
        .is-col.is-col__xl-1.is-col__xs-12
        .is-col.is-col__xl-5-5.is-col__lg-6.is-col__md-8.is-col__xs-12
          .project-header-title Строительство офиса для международной IT-компании EPAM Systems
      .is-row.project-info.animated
        .is-col.is-col__xl-1.is-col__xs-12
        .is-col.is-col__xl-5-5.is-col__md-6.is-col__xs-12
          .project-info-plague.animated(data-animation="slideInUp", data-animation-delay="300")
            table.table
              tbody
                tr
                  td.text--warning.text__xs.text--uppercase адрес
                  td.text__md г. Санкт-Петербург, ул.Заставская, 22
                tr
                  td.text--warning.text__xs.text--uppercase площадь
                  td.text__md г. 6 600 м2
                tr
                  td.text--warning.text__xs.text--uppercase сотрудников
                  td.text__md г. 700 р.м.
                tr
                  td.text--warning.text__xs.text--uppercase сроки
                  td.text__md г. 5, 5 месяцев
          .project-info-list
            .project-info-list__item
              .project-info-list__item-ico
                img(src='images/ok.png', alt='')
              .project-info-list__item-desc
                .project-info-list__item-title выполненные работы
                .text--default Проектирование, архитектурный и инженерный проекты.
            .project-info-list__item
              .project-info-list__item-ico
                img(src='images/repair.png', alt='')
              .project-info-list__item-desc
                .project-info-list__item-title СМР
                .text--default Отделочные работы, производство и монтаж офисных перегородок, настил коврового покрытия, установка потолочных и акустических систем, работы по электрике, СКС, СКУД,СОТ, видеонаблюдению, видеоконференцсвязи.
            .project-info-list__item
              .project-info-list__item-ico
                img(src='images/chair.png', alt='')
              .project-info-list__item-desc
                .project-info-list__item-title поставка материалов и товара
                .text--default Отделочные материалы, двери, мебель, светотехническое и электроустановочное оборудование, элементы декора.
        .is-col.is-col__xl-0-5.is-col__xs-12
        .is-col.is-col__xl-5.is-col__md-6.is-col__xs-12
          .slider-for
            - for (var x = 1; x < 5; x++)
              img(src='images/projects/project-1.jpg', alt='')
          .slider-nav
            - for (var x = 2; x < 6; x++)
              img(src='images/projects/project-'+x+'.jpg', alt='')
      .is-row.project-sign.animated(data-animation="slideInUp", data-animation-delay="300")
        .is-col.is-col__xl-1.is-col__xs-12
        .is-col.is-col__xl-5.is-col__md-6.is-col__xs-12.relative
          .project-anim
            img(src='images/project-anim.png', alt='')
          img(src='images/projects/project-6.jpg', alt='')
        .is-col.is-col__xl-6.is-col__md-6.is-col__xs-12
          .project-sign-blockquote
            p.text--default В апреле 2017 года завершилось строительство офиса площадью 6600 м2 для международной IT-компании EPAM Systems. Новый офис расположился в бизнес-центре класса в Б\Ц «Мегапарк».
            p.text--default Реализация данного проекта велась совместно с компанией IPG.Estate по схеме turn key. Коллеги из IPG.Estate помогли EPAM Systems найти офисное помещение, отвечающие всем требованиям заказчика по локации, транспортной доступности, техническому оснащению. Команда ProExpert вела строительство офиса по комплексному подходу space management: проектирование, строительство, инженерия, комплектация.
            p.text--default Этап проектирования занял 1,5 месяца. Реализация проекта заняла 3 месяца – для обычных условий это очень короткий срок, а с учетом постоянно вносимых заказчиком изменений – мы совершили небольшой подвиг.
            p #[b —  Михаил Турецкий,] генеральный директор Pro Expert
      include ../components/_about
      .is-row.project-nav.animated(data-animation="slideInUp", data-animation-delay="300")
        .is-col.is-col__xl-1.is-col__xs-12
        .is-col.is-col__xl-5-5.is-col__md-6.is-col__xs-12
          a.project-nav-btn.project-nav-prev(href='#')
            b Вернуться к проектам
        .is-col.is-col__xl-0-5.is-col__md-6.is-col__xs-12
        .is-col.is-col__xl-5.is-col__md-6.is-col__xs-12
          a.project-nav-btn.project-nav-next(href='#')
            b следующий проект
            span NVH rus
