main.page-main
  section.banner.banner--second(style='background:url("images/services/services.jpg") no-repeat center center / cover')
    .container.relative
      include ../components/_decor-h
      .is-row
        .is-col.is-col__xl-1.is-col__xs-12
        .is-col.is-col__xl-5-5.is-col__md-7-5.is-col__xs-12
          include ../components/_breadcrumbs
          h1.main-title= title
  section.services.text-template
    .container.relative
      include ../components/_decor-b
      .is-row.animated(data-animation="slideInUp", data-animation-delay="300")
        .is-col.is-col__xl-1.is-col__xs-12
        .is-col.is-col__xl-6-2.is-col__md-6.is-col__xs-12
          ul.services-menu.anchor
            li: a.active(href='#proj') проектирование
            li: a(href='#grad') строительство
            li: a(href='#komp') комплектация
      #proj.is-row.services-proj.animated(data-animation="slideInUp", data-animation-delay="500")
        .is-col.is-col__xl-1.is-col__xs-12
        .is-col.is-col__md-6.is-col__xs-12
          h2 Проектирование интерьера
          .hidden__ms.hidden__lg.hidden__xl
            img(src='images/services/services-2.jpg', alt='')
          p.text--default Реализация любой смелой идеи начинается с создания проекта. #[br] От качества выполнения работ и детализации на этапе проектирования зависит успех выполнения поставленных задач и воплощения идей в реальности.
          .hidden__xs.hidden__sm
            img(src='images/services/services-2.jpg', alt='')
        .is-col.is-col__xl-5.is-col__md-6.is-col__xs-12
          .text__md--right.text--center.relative.margbot70
            .services-anim.services-anim--1(data-bottom-top="transform:translate3d(0px, 50px, 0px)", data-top-bottom="transform:translate3d(0px, -80px, 0px)")
              img(src='images/services-anim.png', alt='')
            img.img(src='images/services/services-1.jpg', alt='')
          p.text--default Команда ProExpert способна создать и реализовать проект любой сложности и готова приступить к работе на любом этапе – от проектирования отдельных систем (инженерия, коммуникации, энергосберегающие технологии), до проектирования зданий. Работа с каждым клиентом ведется индивидуально, основываясь на функциональном наполнении офиса, желаниях заказчика и бюджете.
          .text--default На каждом из этапов специалисты ProExpert ведут разработку полного комплекса рабочей документации для производства строительно-монтажных и отделочных работ, оказывают авторский надзор.
      .is-row.animated(data-animation="slideInUp", data-animation-delay="300")
        .is-col.is-col__xl-1.is-col__xs-12
        .is-col.is-col__xl-11.is-col__xs-12
          h4 услуги
          .services-inner
            .is-row.stretch__xs
              .is-col.is-col__xl-5-6.is-col__md-6.is-col__xs-12
                .services-inner__item  
                  h5 Архитектурное #[br] проектирование 
                  p.text__md.text--default Архитектурное проектирование представляет собой разработку рабочих и эскизных проектов зданий разного назначения, а также проектной документации на ведение работ. Эскизный проект – это 3D визуализация проекта, которая помогает представить перспективы и содержание проекта. На этом этапе определяются архитектурные, конструктивные, функциональные, художественные решения объекта.
              .is-col.is-col__xl-6.is-col__md-6.is-col__xs-12
                .services-inner__item.services-inner__item--right
                  h5 Инженерное #[br] проектирование
                  p.text__md.text--default Один из наиболее ответственных этапов - проектирование инженерных систем, которое требует соблюдения законодательных норм, требований собственника объекта и желаний клиента. Профессиональная инженерная подготовка специалистов ProExpert и опыт работы гарантирует высокое качество выполнения работ.  Специалисты компании ProExpert выполняют работы в рамках действующего законодательства и с соблюдением норм и требований СНИПов.  
            .is-row
              .is-col.is-col__xs-12
                .services-inner__item.services-inner__item--top
                  .is-row
                    .is-col.is-col__xl-4.is-col__md-5.is-col__xs-12
                      h5 Авторский надзор #[br] за исполнением проекта 
                    .is-col.is-col__xl-8.is-col__md-7.is-col__xs-12
                      p.text__md.text--default Специалисты ProExpert  ведут авторский надзор за исполнением проекта, гарантируя соблюдение архитектурных, строительных, технических решений согласно проектной документации и требованиям заказчика на  всех этапах работы. #[br] По окончании реализации проекта команда ProExpert   предоставляет исполнительную документацию.
      #grad.is-row.services__item.animated(data-animation="slideInUp", data-animation-delay="300")
        .is-col.is-col__xl-1.is-col__xs-12
        .is-col.is-col__md-6.is-col__xs-12
          h2 Строительство
          p.text--default Команда ProExpert подходит к решению таких вопросов, ориентируясь на желания и бюджет заказчика, при этом может оказывать как комплексные услуги, так и работать на отдельном этапе:
          ul
            li Демонтажные работы
            li Капитальное строительство
            li Строительно-монтажные работы
            li Отделка
            li Инженерное оснащение всех типов
        .is-col.is-col__xl-5.is-col__md-6.is-col__xs-12
          img(src='images/services/services-3.jpg', alt='')
      .is-row.services__item.animated(data-animation="slideInUp", data-animation-delay="300")
        .is-col.is-col__xl-1.is-col__xs-12
        .is-col.is-col__xl-11.is-col__xs-12
          .is-col__md-6
            h4 Генеральный подряд
            p.text--default Также специалисты ProExpert оказывают услуги по генеральному подряду, при этом компания берет на себя ответственность перед заказчиком за качество и сроки выполнения работ. Генподряд предполагает следующие функции: 
          .is-row.services-list.between__xs
            .is-col.is-col__md-3.is-col__xs-12.services-list__item
              p.text--default Организация и управление всем комплексом работ на объекте
            .is-col.is-col__md-3.is-col__xs-12.services-list__item
              p.text--default Пусконаладочные работы и ввод объекта в эксплуатацию
            .is-col.is-col__md-3.is-col__xs-12.services-list__item
              p.text--default Согласование и получение разрешительной документации 
      #komp.is-row.services__item.animated(data-animation="slideInUp", data-animation-delay="300")
        .is-col.is-col__xl-1.is-col__xs-12
        .is-col.is-col__md-6.is-col__xs-12
          h2 Комплектация объекта 
          p.text--default Современный объект коммерческой недвижимости должен быть максимально оснащен всем необходимым оборудованиям, позволяющим эффективно выстраивать рабочие процессы внутри объекта и создавать комфортные условия для отдыха. 
          .services__item-img
            img(src='images/services/services-5.jpg', alt='')
          p.text--default При разработке проекта комплектации специалисты ProExpert, основываясь на пожеланиях заказчика, детально прорабатывают варианты по следующим позициям:
          ul
            li Отделочные материалы
            li Акустические решения
            li Свет и электро-установочные  изделия
            li Декор и аксессуары
            li Сантехника
            li Мультимедиа
            li Мебель
        .is-col.is-col__xl-5.is-col__md-6.is-col__xs-12.end__lg
          .text__md--right.text--center.relative.margbot70
            .services-anim.services-anim--1(data-bottom-top="transform:translate3d(0px, 50px, 0px)", data-top-bottom="transform:translate3d(0px, -80px, 0px)")
              img(src='images/services-anim.png', alt='')
            img.img(src='images/services/services-4.jpg', alt='')
          .is-col__xl-11.services__item--end
            p.text--default В работе над комплектацией проекта команда ProExpert помогает заказчику создать объект, отвечающий современным трендам в дизайне, требованиям по энергоэффективности.
      include ../components/_about
