//- mixins


//- menu
mixin menu(items)
    ul.main-nav
        each item in items
            - var parent  = ''
            - if(item.subitems !== false) parent='main-nav__item--parent main-nav__item--js'
            li.main-nav__item(class=parent)
                a.main-nav__link(href=item.href, title=item.title)= item.title
                  - if(item.subitems !== false) 
                    i.icon-angle-down
                - if(item.subitems !== false)
                    ul.sub-nav.anchor
                        each subitem in item.subitems
                            li.main-nav__item
                                a.main-nav__link(href=subitem.href, title=subitem.title)= subitem.title

mixin goods(items)
  .is-row.goods-inner
    each item in items
      - if(item.isLeft == true)
        .is-col.is-col__xl-1.is-col__xs-12
        .is-col.is-col__xl-5-5.is-col__md-6.is-col__xs-12
          .goods__item.animated(data-animation="slideInUp", data-animation-delay=item.delay)
            .goods__item-anim.goods__item-anim--left(data-bottom-top="transform:translate3d(0px, 50px, 0px)", data-top-bottom="transform:translate3d(0px, -80px, 0px)")
              img(src='images/goods/goods-left.png', alt='')
            .goods__item-img.between__xs
              .is-col__xl-6-5.is-col__xs-6(style='background:url("images/'+item.img1+'") no-repeat center center / cover')
              //.is-col__xl-6-5.is-col__xs-6
                img(src='images/'+item.img1)
              .is-col__xl-5-5.is-col__xs-6
                img(src='images/'+item.img2)
                img(src='images/'+item.img3)
            .is-row.is-row--null.between__xs
              .goods__item-title= item.title
              - if(item.isLight == true)
                .goods__item-list
                  ul.list--inline
                    li
                      i.is-icons.is-icons--light
                      span Офисное освещение
                    li
                      i.is-icons.is-icons--light
                      span Домашнее освещение
              - if(item.isFur == true)
                .goods__item-list
                  ul.list--inline
                    li
                      i.is-icons.is-icons--furniture
                      span Офис
                    li
                      i.is-icons.is-icons--furniture
                      span Гостиницы и отели
                    li
                      i.is-icons.is-icons--furniture
                      span Жилье
              - if(item.isHouse == true)
                .goods__item-list
                  ul.list--inline
                    li
                      i.is-icons.is-icons--house
                      span Умный дом
                    li
                      i.is-icons.is-icons--house
                      span Умный офис
      - if(item.isRight == true)
        .is-col.is-col__xl-0-5.is-col__xs-12
        .is-col.is-col__xl-5.is-col__md-6.is-col__xs-12
          .goods__item.animated(data-animation="slideInUp", data-animation-delay=item.delay)
            .goods__item-anim.goods__item-anim--right(data-bottom-top="transform:translate3d(0px, 50px, 0px)", data-top-bottom="transform:translate3d(0px, -80px, 0px)")
              img(src='images/goods/goods-right.png', alt='')
            .goods__item-img.between__xs
              .is-col__xs-6(style='background:url("images/'+item.img1+'") no-repeat center center / cover')
              //.is-col__xs-6
                img(src='images/'+item.img1)
              .is-col__xs-6
                img(src='images/'+item.img2)
                img(src='images/'+item.img3)
            .is-row.is-row--null.between__xs
              .goods__item-title= item.title
mixin news(items)
  .is-row.news-inner
    each item in items
      - if(item.isLeft == true)
        .is-col.is-col__xl-1.is-col__xs-12
        .is-col.is-col__xl-5-5.is-col__md-6.is-col__xs-12.animated(data-animation="slideInUp", data-animation-delay=item.delay)
          a.news__item(href='#')
            .news__item-date 25 #[span августа 2017]
            .news__item-img(style='background:url("images/'+item.img+'") no-repeat center center / cover')
              //- img(src='images/'+item.img)
              .news__item-link: span узнать больше
            .news__item-title= item.title
            .news__item-desc= item.desc
      - if(item.isLeft == false)
        .is-col.is-col__xl-0-5.is-col__xs-12
        .is-col.is-col__xl-5.is-col__md-6.is-col__xs-12.animated(data-animation="slideInUp", data-animation-delay=item.delay)
          a.news__item(href='#')
            .news__item-date 25 #[span августа 2017]
            .news__item-img(style='background:url("images/'+item.img+'") no-repeat center center / cover')
              .news__item-link: span узнать больше
            .news__item-title= item.title
            .news__item-desc= item.desc

mixin news-mini(items)
  .news-inner.news-inner--mini
    each item in items
      a.news__item.animated(href='#', data-animation="slideInUp", data-animation-delay=item.delay)
        .news__item-date 25 #[span августа 2017]
        .news__item-img
          img(src='images/'+item.img)
          .news__item-link: span узнать больше
        .news__item-title= item.title

mixin projects(items)
  .catalog.is-row.slider__xxs
    each item in items
      - if(item.isLong == true)
        .is-col.is-col__lg-6.is-col__md-8.is-col__xs-12.animated(data-animation="slideInUp", data-animation-delay=item.delay)
          a.catalog__item.catalog__item--js(href='#', data-back=item.data)
            .catalog__item-top.text__xs= item.year     
            .catalog__item-bottom.text__xs= item.title
            .catalog__item-inner
              .catalog__item-top.text__xs= item.year
              .catalog__item-center
                h6= item.title
                p.text__md= item.desc     
              .catalog__item-link подробнее
      - if(item.isLong == false)
        .is-col.is-col__lg-3.is-col__md-4.is-col__sm-6.is-col__xs-12.animated(data-animation="slideInUp", data-animation-delay=item.delay)
          a.catalog__item.catalog__item--js(href='#', data-back=item.data)
            .catalog__item-top.text__xs= item.year        
            .catalog__item-bottom.text__xs= item.title
            .catalog__item-inner
              .catalog__item-top.text__xs= item.year
              .catalog__item-center
                h6= item.title
                p.text__md= item.desc     
              .catalog__item-link подробнее
