extends layouts/_default

block title
    title Case__fly
    - var title = 'штаб-квартира про эксперт стала офисом года'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_news-one

block siteFooter
    include partials/_footer
